<table>
  <thead>
       <tr>
        <th>Nombre</th>
        <th>Nacionalidad</th>
        <th>Idioma</th>
       </tr>
  </thead>
  <tbody>
       <% @authors.each do |autor| %>
       <tr>
           <td><%= autor.name%></td>
           <td><%= autor.nationality%></td>
           <td><%= autor.language%></td>
       </tr>
       <% end %>
  </tbody>
 </table>