<h1>Mostrar datos del libro</h1>
<h3><strong>Titulo:</strong> <%= @book.title %> </h3>
<h3><strong>Lenguaje:</strong> <%= @book.language %> </h3>
<h3><strong>Páginas:</strong> <%= @book.pages %> </h3>
<h3><strong>Descripcion:</strong> <%= @book.description %> </h3>
