
<table>
  <thead>
       <tr>
        <th>Categoria</th>
        <th>Descripción</th>
       </tr>
  </thead>
  <tbody>
       <% @categories.each do |categoria| %>
       <tr>
           <td><%= categoria.category%></td>
           <td><%= categoria.description%></td>
       </tr>
       <% end %>
  </tbody>
 </table>


